*{
    margin: 0;
    padding: 0;
}

.upper{
    width: 100%;
    height: 35px;
    position: relative;
    top: 10px;
    background-image: linear-gradient(90deg,red  ,green 
    ,yellow);
}
.uppertext{
   font-weight: bold;
   text-decoration: underline;
   font-size: 30px;
   text-align: center;
}

.container{
    background-color: skyblue;
    border: 5px solid red;
    border-radius: 10px;
    width: 800px;
    height: 60px;
    position: relative;
    top: 30px;
    left: 300px;
}
.containertext{
    text-align: center;
    
}
ul{
    display: inline-block;
}
li{
    padding-left: 40px;
}
.lorem{
    position: relative;
    top: 40px;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 20px;
    padding: 0px 20px;
    border:2px solid red ;
    background-color: aquamarine;
    border-radius: 10px;


}
.cont{
    border: 2px solid green;
    background-color: aqua;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
}
.cont4{
    grid-column: 2/3;
}
.top{
    position: relative;
    top: 50px;
    width: 100%;
    height: 35px;
    background-image: linear-gradient(90deg,red, yellow, red);

}
.toptext{
    font-size: 20px;
    text-decoration: underline red;
    text-align: center;
    font-weight: bold;
}

.list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    top: 80px;
    height: 280px;
    background-image: radial-gradient(blue , rgb(33, 243, 33)  );
    border: 3px solid green;
}
.listbox{
    width: 200px;
    height: 100px;
    border: 3px solid red;
    background-color: yellow;
    border-radius: 10px;
    position: relative;
    top: 80px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    text-decoration: underline red;
    color: rgb(188, 43, 43);
    font-weight: bold;
}

.grid{
    position: relative ;
    top: 90px;
    display: inline-grid;
    grid-template-columns: auto auto auto 100px ;
    grid-template-rows:  30px 65px 140px 30px ;
    gap: 20px;
    border: 3px solid black;
   
   
}
.lu1{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: red;
    color: white;
    text-align: center;
   
}
.lu2{
    background-color: rgb(70, 193, 13);
    font-size: 30px;
    font-weight: bold;
    color:white;
    text-align: center;
   
}
.lu3{
    background-color: rgb(55, 149, 231);
    font-size: 30px;
    font-weight: bold;
    color:white;
    text-align: left;
   
}
.lu4{
    background-color: rgb(48, 48, 245);
    font-size: 20px;
    font-weight: bold;
    color:white;
    text-align: left;
}
.lu5{
    background-color: rgb(62, 61, 61);
   grid-column-start:4 ;
   grid-row-start: 2;
   grid-row-end: 4;
   font-size: 18px;
   color: white;
   font-weight: bold;
  
}
.lu6{
    background-color:rgb(247, 140, 26);
    grid-column-start: 1;
    grid-column-end:4 ;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.lu7{
    background-color: rgb(55, 207, 231);
    grid-column-start: 1;
    grid-column-end:5 ;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
}
.un{
    text-decoration: underline;
}
    
   